.output {
    display: flex;
    flex-direction: row;
}

.interestFormContainer {
    border: 1px solid black;
    width: 40vw;
    height: 100vh;
}

.placesContainer {
    display: inline-flex;
    border: 1px solid black;
    width: 50vw;
    height: 100vh;
}

.interestForm {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.placesContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-left: 20px;
    padding: 30px;

}

